.container {
	margin-top: 20px;
}
.header {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 600;
}

/* ================ */
/* Register - Login */
/* ================ */

.box_format {
	margin-top: 15px;
	vertical-align: top;
	border: 3px solid black;
	padding: 30px 50px 30px 40px;
}
.box_left {
	width: 50%;
	margin-right: 100px;
}
.box_header {
	text-align: center;
	margin-bottom: 30px;
	font-weight: 600;
}

/* ============== */
/* Nav bar        */
/* ============== */

.navbar, .container-fluid {
	padding: 0%;
}
.container-fluid {
	border-bottom: 1px solid black;
}
.navbar-brand {
	font-size: 30px;
	font-weight: 600;
	padding-left: 10px;
}
.btnAsLink {
	background: none!important;
	border: none;
	padding-right: 20px !important;
	color: #007bff;
	text-decoration: underline;
	cursor: pointer;
}
.btnAsLink:hover { 
	color: #0056b3; 
}
.linkUnderline {
    text-decoration: underline;
}
.container-fluid p {
    padding-right: 30px;
}

/* ========================== */
/* Dashboard, Create Quiz     */
/* ========================== */

.table-striped {
	border: 2px solid #C8C8C8;
}
.table-striped td {
	border-left: 2px solid #C8C8C8;
}
.table-striped th {
	border-left: 2px solid #C8C8C8;
}
.table-striped th {
	background-color: #D8D8D8;
}
.td_spacer_LR {
	padding-left: 15px;
	padding-right: 15px;
}
.td_spacer_left {
	padding-left: 15px;
	padding-bottom: 15px;
}

/* ============== */
/* Take Quiz    */
/* ============== */

.radio_btn {
	padding-left: 40px !important;
}
.spacer_top {
	margin-top: 15px;
}
.green {
	background-color: #bef7ce;
}

.not-visible {
    display: none;
}

/* ============== */
/* Quiz Results   */
/* ============== */

.color_correct {
	background-color: #b8fca9;
}

.color_incorrect {
	background-color: #fabebe;
}
.result_spacer {
	margin-left: 20px;
}
.result_span {
	margin-left: 50%;
}

/* ============== */
/* Create Quiz    */
/* ============== */

.remove_style {
	padding: 0px  !important;
	margin: 0px  !important;
}
.action_spacer {
	margin-left: 7px;
	margin-right: 7px;
}

/* ============== */
/* Display Page   */
/* ============== */

.view_trip {
	border: 3px solid black;
	padding: 15px;
}


/* ============== */
/* Add New Page   */
/* ============== */

.container_new {
    border: 3px solid black;
    height: 423px;
    width: 576px;
    padding: 30px;
    margin-top: 75px;
    overflow: hidden; /* Added so button will be inside div */
}


/* ============== */
/* Edit Page      */
/* ============== */

.edit_btn {
    margin-left: 50%;
}
.spacer_left {
	margin-left: 50px;
}
.input_format {
	width: auto;
	font-size: 25px;
}
.pull-right{
    display: inline-block;
	padding-left: 10px;
}
hr {
    height: 1px;
    background-color: #333;
}
ul {
	list-style-type: none;
}
.btn_spacer {
	margin-left: 25px  !important;
}
