{% extends 'base.html' %}

{% block title %}Answer Options{% endblock %}

{% block content %}


<nav class="navbar">
    <div class="container-fluid">
        <p class="navbar-brand">JustQuizIt</p>

        <div class="d-flex">
            <p class="nav-item">Welcome {{ first_name }}!</p>
            <form action="/dashboard" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Dashboard</button>
            </form>

            <form action="/logout" method="POST">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<h1 class="header">Add Answer Options</h1>

<div class="mb-3 row">
    <label class="col-sm-2">Question</label>
    <div class="col-sm-6">
        <p>{{ question.question_text }} </p>
    </div>
</div>


<div id='forms'>
    <form action="/question/create_option/{{ question.id }}" method="POST">
    {% csrf_token %}

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Answer Option</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="option"/>
            </div>

            <label class="col-sm-2 col-form-label">Correct Answer</label>
                <select name="correct">
                    <option disabled selected value="none"></option>
                    {% for correct in correct %}
                        <option value="{{ correct.name }}">{{ correct.name }}</option>  
                    {% endfor %}
                </select>
        </div>
        <button class="btn btn-success" id="add" type="submit">Add more!</button>
    </form>
</div>



<script>
    let forms = document.getElementById('forms')
    let form = document.querySelector('.form')
    let button = document.getElementById('add')

    button.addEventListener("click", function() {
        clone = form.cloneNode(true)
        forms.appendChild(clone)
    });
</script>

{% endblock %}