{% extends 'base.html' %}

{% block title %}Create Quiz{% endblock %}

{% block content %}


<nav class="navbar">
    <div class="container-fluid">
        <p class="navbar-brand">JustQuizIt</p>

        <div class="d-flex">
            <p class="nav-item">Welcome {{ first_name }}!</p>
            <form action="/dashboard" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Dashboard</button>
            </form>

            <form action="/logout" method="POST">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<h1 class="header">Create Quiz</h1>

    <form action="/quiz/create_quiz" method="POST">
        {% csrf_token %}
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Quiz Name</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="quiz_name"/>
            </div>
        </div>
    </form>

<h3>Quiz Questions</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Question ID</th>
            <th>Type</th>
            <th>Source</th>
            <th>Technology</th>
            <th>Domain</th>
            <th>Question Type</th>
            <th>Question Text</th>
            <th>Action</th>
        </tr>
    </thead>
    
</table>

<h3>Question Bank</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%">ID</th>
            <th style="width: 10%">Source</th>
            <th style="width: 10%">Technology</th>
            <th style="width: 10%">Domain</th>
            <th style="width: 10%">Question Type</th>
            <th style="width: 35%">Question Text</th>
            <th style="width: 20%">Action</th>        
        </tr>
    </thead>

    {% for question in questions %}
        <tbody>
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.source_name }}</td>
                <td>{{ question.technology }}</td>
                <td>{{ question.domain }}</td>
                <td>{{ question.question_type}}</td>
                <td>{{ question.question_text}}</td>
                <td>
                    <div class='row'>
                        <p class='action_spacer'></p>
                        <a class="remove_style linkUnderline" href="/questions/select/{{ question.id }}">Add</a>

                        <p class='action_spacer'>|</p>
                        <form action="/questions/edit/{{ question.id }}" method="GET">
                            {% csrf_token %}
                            <button class="remove_style linkUnderline btnAsLink">Edit</button>
                        </form>

                        <p class='action_spacer'>|</p>
                        <form action="/questions/delete/{{ question.id }}" method="POST">
                            {% csrf_token %}
                            <button class="remove_style linkUnderline btnAsLink">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
    {% endfor %}
    
</table>

{% endblock %}
