{% extends 'base.html' %}

{% block title %}Create Quiz{% endblock %}

{% block content %}


<nav class="navbar">
    <div class="container-fluid">
        <p class="navbar-brand">JustQuizIt</p>


        <div class="d-flex">
            <p class="nav-item">Welcome {{ first_name }}!</p>
            <form action="/quiz/dashboard" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Dashboard</button>
            </form>

            <form action="/logout" method="POST">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<h1 class="header">Create Quiz</h1>

    <form action="/quiz/create_quiz" method="POST">
        {% csrf_token %}

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Quiz Name</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="quiz_name"/>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Technology</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="technology"/>
            </div>
        </div>

    </form>

<h3>Quiz Questions</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Question ID</th>
            <th>Type</th>
            <th>Source</th>
            <th>Technology</th>
            <th>Domain</th>
            <th>Question Type</th>
            <th>Question Text</th>
            <th>Action</th>
        </tr>
    </thead>
    
</table>

<h3>Question Bank</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Question ID</th>
            <th>Type</th>
            <th>Source</th>
            <th>Technology</th>
            <th>Domain</th>
            <th>Question Type</th>
            <th>Question Text</th>
            <th>Action</th>        
        </tr>
    </thead>

    {% for question in questions %}
        {% for options in answer_options.all %}

            <tbody>
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.source }}</td>
                    <td>{{ question.source_name }}</td>
                    <td>{{ question.technology }}</td>
                    <td>{{ question.domain }}</td>
                    <td>{{ question.type}}</td>
                    <td>{{ question.text}}</td>
                    <td>
                        <div class='row'>
                            <a class="linkUnderline a_spacer1" href="/questions/select/{{ question.id }}">Add</a>
                            
                            <p class='a_spacer2'>|</p>
                            <form action="/questions/edit/{{ question.id }}" method="GET">
                                {% csrf_token %}
                                <button class="linkUnderline btnAsLink">Edit</button>
                            </form>

                            <p class='a_spacer2'>|</p>
                            <form action="/questions/delete/{{ question.id }}" method="POST">
                                {% csrf_token %}
                                <button class="linkUnderline btnAsLink">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>

        {% endfor %}
    {% endfor %}
    
</table>

{% endblock %}
