{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<nav class="navbar">
    <div class="container-fluid">
        <p class="navbar-brand">JustQuizIt</p>


        <div class="d-flex">
            <p class="nav-item">Welcome {{ first_name }}!   Take a quiz or review your results!</p>
            <form action="/quiz/display_quiz" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Create Quiz</button>
            </form>

            <form action="/question/display_question" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Create Questions</button>
            </form>                    
            
            <form action="/logout" method="POST">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<h1 class="header">Your Quiz Dashboard</h1>

<h3>Quizzes Taken</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Status</th>
                <th>Date Started</th>
                <th>Date Completed</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
        </thead>
</table>



<h3>Avaliable Quizzes</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Quiz ID</th>
            <th style="width: 30%">Quiz Name</th>
            <th style="width: 15%">Source</th>
            <th style="width: 20%">Source Name</th>
            <th style="width: 25%">Action</th>            
        </tr>
    </thead>

    {% for quiz in quizzes %}
        <tbody>
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.questions.first.source }}</td>
                <td>{{ quiz.questions.first.source_name }}</td>
                <td>
                    <div class='row'>
                        <p class='action_spacer'></p>
                        <form action="/quiz/take_quiz/{{ quiz.id }}" method="GET">
                            {% csrf_token %}
                            <button class="remove_style linkUnderline btnAsLink">Take</button>
                        </form>

                        <p class='action_spacer'>|</p>
                        <a class="linkUnderline" href="#">Retake</a>

                        <p class='action_spacer'>|</p>
                        <form action="#" method="GET">
                            {% csrf_token %}
                            <button class="remove_style linkUnderline btnAsLink">Edit</button>
                        </form>

                        <p class='action_spacer'>|</p>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <button class="remove_style linkUnderline btnAsLink">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>

{% endblock %}
