{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<nav class="navbar">
    <div class="container-fluid">
        <p class="navbar-brand">JustQuizIt</p>


        <div class="d-flex">
            <p class="nav-item">Welcome {{ first_name }}!</p>
            <form action="#" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Create Quiz</button>
            </form>

            <form action="#" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Create Questions</button>
            </form>                    
            
            <form action="/logout" method="POST">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<h1 class="header">Your Quiz Dashboard</h1>

<h3>Quizzes Taken</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Status</th>
                <th>Date Started</th>
                <th>Date Completed</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
        </thead>
</table>



<h3>Avaliable Quizzes</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Quiz ID</th>
            <th>Quiz Name</th>
            <th>Type</th>
            <th>Source</th>
            <th>Date Added</th>
            <th>Action</th>            
        </tr>
    </thead>
</table>

{% endblock %}
