{% extends 'base.html' %}
{% block title %}Create Quiz{% endblock %}
{% block content %}
{% include "navbar.html" %}

<h1 class="header">{{ quiz.name }}</h1>
<a class="col-sm-1 btn btn-primary float-right btn_spacer" href="/dashboard" role="button">Back</a>
    <h3>Quiz Questions</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 10%">Source</th>
                <th style="width: 8%">Technology</th>
                <th style="width: 10%">Domain</th>
                <th style="width: 35%">Question Text</th>     
            </tr>
        </thead>

        {% for question in quiz.questions.all %}
            <tbody>
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.source }}</td>
                    <td>{{ question.technology }}</td>
                    <td>{{ question.domain }}</td>
                    <td>{{ question.question_text}}</td>
                </tr>
                </tbody>
        {% endfor %}
        
    </table>
{% endblock %}
