{% extends 'base.html' %}
{% block title %}Edit Question{% endblock %}
{% block content %}
{% include "navbar.html" %}

<h1 class="header">Edit Question</h1>

    <form action="/question/update_question/{{ question.id }}" method="POST">
        {% csrf_token %}

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Technology</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="technology" value="{{ question.technology }}" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Domain</label>
            <div class="col-sm-6">
                <select name="domain">
                    {% for domain in domains %}
                        <option 
                            class="form-control" 
                            value="{{ domain.name }}"
                            {% if domain.name == question.domain %} selected="selected" {% endif %}>
                            {{ domain.name }}</option>  
                    {% endfor %}
            </select>
                <input type='hidden' name="domain.id" value="{{domain.id}}" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Question Text</label>
            <div class="col-sm-8">
                <textarea class="form-control" type="textField" rows="2" name="question_text"> {{ question.question_text }} </textarea>
            </div>
        </div>

        <div class="col-sm-8">
            <button class="col-sm-2 btn btn-danger float-right btn_spacer" type="submit" formaction="/question/delete_question/{{ question.id }}">Delete</button>
            <a class="col-sm-2 btn btn-primary float-right btn_spacer" href="/question/question_bank" role="button">Back</a>
            <button class="col-sm-2 btn btn-primary float-right btn_spacer" type="submit">Update</button>
            
        </div>
        
    </form>

    <br/><br/><br/>

    <div>
        <h3>Answer Options</h3>
        <a class="col-sm-2 btn btn-primary" href="/option/new_option/{{ question.id }}" role="button">Add Options</a>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Option ID</th>
                <th style="width: 80%">Option</th>
                <th style="width: 10%">Correct</th>
            </tr>
        </thead>

        {% for option in question.answer_options.all %}
        <tbody>
            <tr>
                <td><a class="linkUnderline" href="/option/edit_option/{{ option.id }}/{{ q_id }}">{{ option.id }}</a></td>
                <td>{{ option.answer_option }}</td>
                <td>{{ option.correct }}</td>
            </tr>
        </tbody>
    {% endfor %}

</table>



{% endblock %}