{% extends 'base.html' %}
{% block title %}Create Quiz{% endblock %}
{% block content %}
{% include "navbar.html" %}

<h1 class="header">Edit Quiz</h1>

<form action="/quiz/update_quiz/ {{ quiz.id }}" method="POST">
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Quiz Name</label>
        <div class="col-sm-3">
            <input class="form-control" type="text" name="quiz_name" minlength='3' value= "{{ quiz.name }}"  required/>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-3">
            <button class="btn btn-primary" type="submit">Sumbit Edits</button>
        </div>
    </div>

    <br/>

    <h3>Quiz Questions</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 10%">Source</th>
                <th style="width: 8%">Technology</th>
                <th style="width: 10%">Domain</th>
                <th style="width: 35%">Question Text</th>
                <th style="width: 12%">Remove Question</th>        
            </tr>
        </thead>

        {% for question in quiz.questions.all %}
            <tbody>
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.source }}</td>
                    <td>{{ question.technology }}</td>
                    <td>{{ question.domain }}</td>
                    <td>{{ question.question_text}}</td>
                    <td>
                        <input class="checkbox_spacer" type="checkbox" name="add" value="{{ question.id }}">
                    </td>
                </tr>
                </tbody>
        {% endfor %}
        
    </table>
</form>
{% endblock %}
