{% extends 'base.html' %}

{% block title %}Edit Question{% endblock %}

{% block content %}


<nav class="navbar">
    <div class="container-fluid">
        <p class="navbar-brand">JustQuizIt</p>

        <div class="d-flex">
            <p class="nav-item">Welcome {{ first_name }}!</p>
            <form action="/dashboard" method="GET">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Dashboard</button>
            </form>

            <form action="/logout" method="POST">
            {% csrf_token %}
                <button class="btnAsLink linkUnderline nav-item">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<h1 class="header">Edit Question</h1>

    <form action="/question/create_question" method="POST">
        {% csrf_token %}

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Technology</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="technology" value={{ question.technology }} />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Domain</label>
            <div class="col-sm-6">
                <select name="domain">
                        <option disabled selected value="none"></option>
                    {% for domain in domains %}
                        <option value="{{ domain.name }}">{{ domain.name }}</option>  
                    {% endfor %}
                </select>
                <input type='hidden' name="domain.id" value="{{domain.id}}" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Question Type</label>
            <div class="col-sm-6">
                <select name="question_type">
                    <option disabled selected value="none"></option>
                    {% for type in question_types %}
                        <option value="{{ type.name }}">{{ type.name }}</option>  
                    {% endfor %}
                </select>
                <input type='hidden' name="type.id" value="{{type.id}}" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Question Text</label>
            <div class="col-sm-6">
                <textarea class="form-control" type="textField" rows="2" name="question_text"> {{ question.question_text }} </textarea>
            </div>
        </div>

        <div class="col-sm-8">
            <button class="btn btn-success float-right" type="submit">Update</button>
            <button class="btn btn-success float-right" type="button">Cancel</button>
        </div>
    </form>



{% endblock %}