{% extends 'base.html' %}
{% block title %}Answer Options{% endblock %}
{% block content %}
{% include "navbar.html" %}

<h1 class="header">Add Answer Option</h1>

<div class="mb-3 row">
    <label class="col-sm-2">Related Question</label>
    <div class="col-sm-6">
        <p><b>{{ question.question_text }}</b></p>
    </div>
</div>


<form action="/option/create_option/{{ question.id }}" method="POST">
    {% csrf_token %}

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Answer Option</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" name="answer_option" value="{{ option.answer_option }}" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            Correct Answer: 
            <input type="checkbox" name="correct" value="{{ option.correct }}" {% if option.correct %} checked="checked" {% endif %}>
        </div>
    </div>

    <br/>

    <div class="col-sm-8">
        <a class="col-sm-2 btn btn-primary float-right btn_spacer" href="/question/edit_question/{{ question.id }}" role="button">Cancel</a>
        <button class="col-sm-2 btn btn-primary float-right btn_spacer" type="submit">Add</button>
        
    </div>
    
</form>

{% endblock %}