{% extends 'base.html' %}
{% block title %}Add Question{% endblock %}
{% block content %}
{% include "navbar.html" %}

<h1 class="header">Add Question</h1>

    <form action="/question/create_question" method="POST">
        {% csrf_token %}

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Technology</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="technology"/>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Domain</label>
            <div class="col-sm-6">
                <select name="domain">
                        <option disabled selected value="none"></option>
                    {% for domain in domains %}
                        <option value="{{ domain.name }}">{{ domain.name }}</option>  
                    {% endfor %}
                </select>
                <input type='hidden' name="domain.id" value="{{domain.id}}" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Question Text</label>
            <div class="col-sm-6">
                <textarea class="form-control" type="textField" rows="2" name="question_text"></textarea>
            </div>
        </div>

        <div class="col-sm-8">
            <a class="col-sm-2 btn btn-primary float-right btn_spacer" href="/question/question_bank" role="button">Cancel</a>
            <button class="col-sm-2 btn btn-primary float-right btn_spacer" type="submit">Add</button>
        </div>



    </form>



{% endblock %}