{% extends 'base.html' %}
{% block title %}Quiz In-Progress{% endblock %}
{% block content %}
{% include "navbar.html" %}

<h1 class="header">{{ quiz.name }}</h1>

<form action="/exam/score_quiz/{{ quiz_id }}" method="POST">
{% csrf_token %}
    {% for question in quiz.questions.all %}
        <p class="spacer_top">{{ forloop.counter }}. {{ question.question_text }} </p>
        <div class="radio_btn">
            {% for option in question.answer_options.all %}
                <input type="radio" name="{{ question.id }}" value="{{ option.id }}" >
                <label for="answers_selected">{{ option.answer_option }}</label> <br/>
            {% endfor %}
        </div>
    {% endfor %}
    <button class="btn btn-secondary" type="submit">Get Score</button>
</form>


{% endblock %}